* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Gloria Hallelujah", serif;
}

/* body {
  color: #fff;
  background: #90b7c6;
} */

a.button {
  color: #ffffff;
  border: none;
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 40px 15px 40px;
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 300;
  font-size: 48px;
  margin-top: 80px;
}

a.button:hover {
  /* box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.5); */
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.15s ease-in-out;
}

a,
ul,
li {
  all: unset;
  transition: all 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.01);
  transition: all 0.2s ease-in-out;
}

a {
  cursor: pointer;
}

.hero {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #e84038;
}

.hero-title {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 300;
  margin: 0;
  font-size: 30vw;
  line-height: 30vw;
  letter-spacing: -4px;
}

.hero-description {
  margin: 0;
  text-align: center;
  font-size: 32px;
  width: 100%;
  max-width: 600px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 180%;
}

@media only screen and (max-width: 900px) {
  .hero-title {
    font-size: 50vw;
    line-height: normal;
  }

  .hero-description {
    font-size: 24px;
  }
}

/* date section styling */
.date-container {
  display: flex;
  padding: 120px 0px 80px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #f0e2c4;
  color: #3b447f;
}

.day {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 300;
  font-size: 400px;
  line-height: 90%;
  letter-spacing: -13.24px;
  margin: 0;
}

.month {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 300;
  font-size: 80px;
  line-height: 90%;
  letter-spacing: -3.48px;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .day {
    font-size: 400px;
  }

  .month {
    font-size: 110px;
  }
}

@media only screen and (max-width: 600px) {
  .day {
    font-size: 240px;
  }

  .month {
    font-size: 60px;
  }
}

/* list styling */
.list {
  display: flex;
  gap: 80px;
  padding: 180px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: #133927;
  color: #bdd495;
}

.list-item {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.list-text {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 300;
  font-size: 56px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
  margin: 0;
}

@media only screen and (max-width: 800px) {
  .list {
    padding: 80px 20px;
  }

  .list-text {
    font-size: 28px;
  }
}

/* venue */
.venue-container {
  display: flex;
  padding: 0px 20px 160px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f0e2c4;
  color: #3b447f;
}

.details-paragraph {
  font-size: 24px;
  margin-top: 20px;
}

.details-subtitle {
  margin-top: 60px;
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 300;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
}

@media only screen and (max-width: 800px) {
  .details-paragraph {
    font-size: 18px;
  }

  .details-subtitle {
    font-size: 22px;
  }
}
